* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color-bg-tone-one: #131921;
  --color-bg-tone-two: #232f3e;

  --color-partition-lines: #3b4149;
  --color-partition-lines-2: #ededed;

  --color-button-hover: #febd69;

  --color-banner-header: #bf4800;
  --color-section-bg: #f5f5f7;

  --color-content-faded: #777777;
  --color-content-darken: #1c1c1b;
}
body {
  font-family: "Rubik", sans-serif;
}

a {
  text-decoration: none;
  display: inline-block;
}

.form-control:focus {
  box-shadow: none;
  border-color: inherit;
}

.gap-10 {
  gap: 10px;
}

.gap-15 {
  gap: 15px;
}

.gap-30 {
  gap: 15px;
}

.button {
  background-color: var(--color-bg-tone-two);
  color: white;
  font-size: 14px;
  padding: 13px 33px;
  border-radius: 25px;
}

.button:hover {
  background-color: var(--color-button-hover);
  border-bottom: #131921;
}

.cross {
  top: 15px;
  right: 15px;
  width: 25px;
  padding: 3px;
  cursor: pointer;
}

.card-wrapper {
  background-color: white;
  box-shadow: 0 0 10px #0000001a;
  padding: 15px;
}

.section-heading {
  font-size: 26px;
  line-height: 32px;
  font-weight: 500;
  margin-bottom: 30px;
}

.d-block {
  display: block !important;
}

/*Header Part*/
.header-top-strip {
  border-bottom: 1px solid var(--color-partition-lines);
  background-color: var(--color-bg-tone-one);
}

.header-upper {
  background-color: var(--color-bg-tone-one);
}

.header-upper .input-group-text {
  background-color: var(--color-button-hover);
}

.header-upper .header-upper-links img {
  width: 35px;
  height: 35px;
}

.header-bottom {
  background-color: var(--color-bg-tone-two);
}

.header-bottom .menu-links a,
.header-bottom .dropdown button {
  color: white;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 0.3;
  text-transform: uppercase;
}

.header-bottom .dropdown button:focus {
  box-shadow: none;
}

.header-bottom .dropdown-menu {
  background-color: var(--color-bg-tone-one);
  width: 100%;
  transform: translate3d(0px, 57px, 0px) !important;
}

.header-bottom .dropdown-item {
  padding: 20px;
  margin-bottom: 3px;
  border-bottom: 1px solid var(--color-partition-lines);
}

.header-bottom .dropdown-item:hover {
  background-color: transparent;
  color: var(--color-button-hover) !important;
}

/*Header Part Ends Here*/

/*Footer Part*/

footer {
  background-color: var(--color-bg-tone-two);
}

footer:not(:first-child) {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

footer .input-group-text {
  background-color: var(--color-bg-tone-two);
  padding: 8px 17px;
  color: white;
}

/*Footer Part Ends Here*/

/* Home Page */

/* Home Wrapper 1 */
.main-banner-content {
  top: 10%;
  left: 5%;
}
.main-banner-content h4 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-banner-header);
  margin: 0 0 12px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.main-banner-content h5 {
  font-size: 42px;
  font-weight: 500;
  line-height: 54px;
  letter-spacing: -2px;
  text-transform: none;
  width: 50%;
}

.main-banner-content p {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.4px;
  color: var(--color-bg-tone-one);
}

.small-banner-content {
  top: 20%;
  left: 7.5%;
}
.small-banner-content h4 {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-banner-header);
  margin: 0 0 12px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
}

.small-banner-content h5 {
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -2px;
  text-transform: none;
  width: 75%;
}

.small-banner-content p {
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.4px;
  color: var(--color-bg-tone-one);
}

.small-banner {
  width: 49%;
}

/* Home Wrapper 2 */
.home-wrapper-2 {
  background-color: var(--color-section-bg);
}

/* Catergories Section */
.categories {
  background-color: white;
  box-shadow: 0 0 10px #0000001a;
  padding: 15px;
}

.categories > div {
  width: 25%;
  padding: 10px;
}

.categories > div > div {
  width: 60%;
}

.categories > div:nth-child(1),
.categories > div:nth-child(2),
.categories > div:nth-child(3),
.categories > div:nth-child(4) {
  border-bottom: 1px solid var(--color-partition-lines-2);
}
.categories > div:nth-child(1),
.categories > div:nth-child(2),
.categories > div:nth-child(3) {
  border-right: 1px solid var(--color-partition-lines-2);
}
.categories > div:nth-child(5),
.categories > div:nth-child(6),
.categories > div:nth-child(7) {
  border-right: 1px solid var(--color-partition-lines-2);
}

/* Home Page Ends Here*/

/* Blog Card Part */

.blog-card {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

.blog-card img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.blog-content {
  padding: 15px;
}

.blog-content p.date {
  font-size: 13px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0;
  font-weight: 400;
  color: var(--color-content-faded);
  padding: 0;
}

.blog-content h5 {
  font-size: 18px;
  color: var(--color-bg-tone-one);
}

.blog-content p.desc {
  font-size: 13px;
  line-height: 22px;
  color: var(--color-content-faded);
}

/* Blog Crad Part Ends Here*/

/* Product Card */

.gr-12 {
  width: 100%;
}

.gr-6 {
  width: 49.48%;
}

.gr-4 {
  width: 32.5%;
}

.gr-3 {
  width: 24.2%;
}

.gr-12 .product-card {
  display: flex;
  gap: 20px;
}

.gr-12 .product-card .product-image {
  width: 270px;
  height: Auto;
}

.gr-12 .action-bar {
  top: 15%;
}

.gr-6 .product-image {
  width: 100%;
}

.gr-6 .product-image img {
  margin: auto;
  display: block;
}

.product-card {
  padding: 15px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
}

.product-card .product-image {
  height: 270px;
}

.product-card .product-image img {
  object-fit: contain;
}

.product-card .product-image > img:last-child {
  display: none;
}

.product-card:hover .product-image > img:nth-child(1) {
  display: none;
}

.product-card:hover .product-image > img:last-child {
  display: block;
}

.product-card:hover .action-bar {
  right: 15px;
}

.product-card .product-details h6 {
  color: var(--color-banner-header);
  font-size: 13px;
}

.product-card .product-details h4 {
  color: var(--color-content-darken);
  font-size: 15px;
}

.product-card .product-details p.price {
  color: var(--color-content-darken);
  font-size: 16px;
}

.product-card .product-details p.description {
  color: var(--color-content-faded);
  font-size: 13px;
  width: 75%;
}

.action-bar {
  top: 10%;
  right: -40px;
  transition: 0.3s;
}

.wishlish-icon {
  top: 2%;
  right: 15px;
}

/* Product Card Ends Here */

/* Store */

.filter-card {
  background-color: white;
  border-radius: 10px;
  padding: 10px 15px 25px;
}

.filter-title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  color: var(--color-content-darken);
  margin-bottom: 20px;
}

.filter-card ul,
.filter-card .form-check-label {
  list-style: none;
  font-size: 13px;
  line-height: 30px;
  color: var(--color-content-faded);
  cursor: pointer;
}

.filter-card .form-check-input:focus {
  box-shadow: none;
  border-color: rgba(0, 0, 0, 0.25);
}

.filter-card .form-check-input:checked {
  background-color: var(--color-button-hover);
  border-color: var(--color-button-hover);
}

.sub-title {
  font-size: 14px;
  font-weight: 600;
  color: var(--color-content-darken);
  margin-bottom: 15px;
  margin-top: 20px;
}

.colors {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.colors li {
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
}

.filter-sort-grid {
  padding: 10px;
  background-color: white;
  border-radius: 10px;
}

.grid img {
  width: 35px;
  height: 35px;
  background-color: #f2f2f2;
  padding: 8px;
  border-radius: 3px;
  cursor: pointer;
}

/* Store Ends Here */

/* Contact */
.contact-inner-wrapper {
  padding: 30px 20px;
  border-radius: 15px;
  background-color: white;
  gap: 15px;
}

.contact-inner-wrapper > div {
  width: 48%;
}

.contact-title {
  font-size: 26px;
  font-weight: 500;
  line-height: 35px;
  text-align: left;
}

.contact-inner-wrapper form .form-control {
  background-color: var(--color-section-bg);
  border-radius: 10px;
  border-color: transparent;
  padding: 10px;
}

.contact-inner-wrapper form .form-control {
  background-color: var(--color-section-bg);
  border-radius: 10px;
  border-color: transparent;
  padding: 10px;
}

.contact-inner-wrapper ul {
  list-style: none;
}

.contact-inner-wrapper address,
.contact-inner-wrapper a,
.contact-inner-wrapper p {
  color: var(--color-content-faded);
}

/* Contact Ends Here */

/* Compare & Wishlist Product */

.compare-product-card,
.wishlist-card {
  padding: 20px 15px;
  background-color: white;
  border-radius: 10px;
}

.compare-product-details h5.title,
.wishlist-card h5.title {
  font-size: 15px;
  line-height: 22px;
  font-weight: 500;
  color: var(--color-content-darken);
}

.compare-product-details h6.price,
.wishlist-card h6.price {
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
}

.compare-product-card .product-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
  border-top: 1px solid var(--color-section-bg);
}

/* Compare & Wishlist Product Ends Here */

/* Auth Card */

.auth-card {
  padding: 20px;
  background-color: white;
  width: 500px;
  margin: 30px auto;
  border-radius: 10px;
}

.auth-card h3 {
  font-size: 19px;
  font-weight: 500;
  color: var(--color-content-faded);
}

.auth-card .form-control {
  height: 50px;
  background-color: var(--color-section-bg);
  color: var(--color-content-faded);
  border-color: transparent;
  font-size: 14px;
  border-radius: 10px;
}

.auth-card a {
  font-size: 14px;
  font-weight: 400;
  color: var(--color-content-darken);
}

.auth-card .signup {
  background-color: var(--color-button-hover);
  color: var(--color-bg-tone-one);
}

.auth-card .signup:hover {
  background-color: var(--color-bg-tone-one);
  color: var(--color-button-hover);
}

.auth-card p {
  font-size: 13px;
  color: var(--color-content-faded);
}

/* Auth Card Ends Here */
